
:root {
    --first-color: #f6f6f6;
    --second-color: RGB(70,84,97);
    --template-color:firebrick;
  }




body{
    margin:0 ;
    padding: 0;
}
*{
    box-sizing: border-box;
   font-family: SegoeUI-Semibold, "Segoe UI Regular", "Segoe UI",sans-serif;
}

.container{
min-height:1500px ;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 100px;
grid-auto-rows: 100px;
row-gap: 10px;
}


/*photo*/
.cv-photo{
    grid-column: 1 / 3;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(12,1fr)
}

.photo-profile-image{
    grid-row: 1 / span 6;
    align-self: center;
    justify-self: center;
}
.photo-profile-image img{
    width: 100px;
}
.photo-profile-name{
    grid-row: 7 / span 2;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
}
.photo-profile-jobtitle{
    grid-row: 10 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


/* profile**/
.cv-profile{
    grid-column: 1 / 3;
    grid-row: 3 / span 4;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    row-gap:10px ;
}

.profile-header{
    grid-row: 1;
    display:grid;
    grid-template-columns: 1fr 13fr;
    background-color: var(--second-color);
}


.header-image img{
    width: 50px;
    display: flex;
    align-items: center;
    background-color: var(--template-color);
}

.header-title{
    font-size: 24px;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    color: var(--first-color);
    text-align: justify;
}

.contact-rectangles{
grid-row: span 2;
display: grid;
grid-template-columns: 1fr 16fr;
}


.contact-rectangles div:nth-child(1){
display: flex;
justify-content: center;
align-items: center;
}

.contact-rectangles div:nth-child(1) img{
    width: 28px;
    }

.contact-rectangles ul:nth-child(2) li{
list-style-type: none;
}


/* skill**/
.cv-skill{
    overflow: auto;
    grid-row: 7 / span 4;
    display: grid;
    grid-template-rows: repeat(12,1fr);
  }

  .skill-header {
    grid-column: 1 / 3;
    background-color: var(--second-color);
   display: grid;
    grid-template-columns: 1fr 13fr;
}
.skill-header .header-title{
    color: var(--first-color);
    align-items: center;
    justify-items: center;
}
.topic-skills {
    grid-column: 1 / 3;
    grid-row: 2 / span 9 ;
}

/* EXPERIENCES**/
.cv-experience{
    overflow-y: auto;
    grid-row: 11 / span 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);
    row-gap: 10px;
}

.experience-header{
    display: grid;
    grid-template-columns: 1fr 13fr;
    background-color: var(--second-color);
}
.experience-jobtitle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    }
    .jobtitle-name{
    grid-column: 1;
    
    }
    .jobtitle-dates{
        grid-column: 2;
        color:firebrick;
        display: flex;
        justify-content: flex-end;
    }
    .jobtitle-description{
    grid-column: 1 / 3;
    text-align: justify;
    
    }



/* EDUCATION**/
.cv-education{
    overflow-y: auto ;
  grid-row: 16 / span 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12,1fr);

}
.education-header{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr 13fr;
}


.education-degree{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    }
    .degree-name{
    grid-column: 1;
    
    }
    .degree-dates{
        grid-column: 2;
        color:firebrick;
        display: flex;
        justify-content: flex-end;
    }
    .degree-description{
    grid-column: 1 / 3;
    text-align: justify;
    
    }



/* CERTIFICATES AND AWARDS**/
.cv-certification{
    overflow-y:auto ;
  grid-row:  21 / span 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12,1fr);
}
.certification-header{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr 13fr;
}

.certification-certificate{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    }
    .certificate-name{
    grid-column: 1;
    
    }
    .certificate-dates{
        grid-column: 2;
        color:firebrick;
        display: flex;
        justify-content: flex-end;
    }
    .certificate-description{
    grid-column: 1 / 3;
    text-align: justify;
    
    }

/* REFERENCES**/
.cv-references{
  grid-row: 26 / span 5;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12,1fr);
}

.references-header{
background-color: var(--second-color);
display: grid;
grid-template-columns: 1fr 13fr;
}


@media only screen and (min-width:700px) {

.container{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/*photo*/
.cv-photo{
grid-column: 1;
grid-row: 1 / span 2;
display: grid;
grid-template-rows: repeat(12,1fr);
}

/*profile*/
.cv-profile{
    grid-column: 1 ;
    grid-row: 3 / span 4;
}  


/* EXPERIENCES**/
.cv-experience{
    grid-column: 2;
    grid-row: 1 / span 4;
}


/* EDUCATION**/
.cv-education{
    grid-column: 2;
  grid-row: 5 / span 3;
}


/* CERTIFICATES AND AWARDS**/
.cv-certification{
    grid-column: 2;
    grid-row:  8 / span 4;
}



/* REFERENCES**/
.cv-references{
    grid-column: 2;
    grid-row: 11 / span 3;
    overflow-y: auto;

  }


}